{{#each categories}}
  <div class="categories-section">
    <article class="category" data-category-id="{{categoryId}}">
      <h3>{{title}}</h3>
      <a href="${categoryType}">
        <img src="${image}" alt="${title}" style="width: 80px; height: 80px;">
      </a>
      <ul>
        {{#each subcategories}}
          <li>
            <a href="{{subcategoryLink}}" data-subcategory-id="{{subcategoryID}}">
              {{subcategoryTitle}}
            </a>
          </li>
        {{/each}}
      </ul>
    </article>
  </div>
{{/each}}
